.container {
  width: 100%;
}

.tabButtons {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 24px;
}

.tabButton {
  border: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8e98a8;
  padding-bottom: 16px;
  cursor: pointer;
}

.tabButton:hover {
  color: #5865f2;
  border-bottom: 4px solid #5865f2;
  transition: all 0.3s;
  font-weight: 700;
}

.active {
  font-weight: 700;
  color: #5865f2;
  border-bottom: 4px solid #5865f2;
}
