.container {
  border: 1px solid #e4e4e4;
  margin-top: 24px;
  padding: 92px;
  border-radius: 16px;
  margin: 24px 0px;
}

.emptyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.emptyBox > h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #1b1e21;
}

.emptyBox > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #8e98a8;
}

.emptyBox > a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #5865f2;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 48px;
    margin: 0px;
  }

  .emptyBox > h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .emptyBox > p {
    font-size: 12px;
    line-height: 16px;
  }
}
